:root {
    --cor-primaria: hsl(21, 85%, 54%);
    --cor-secundaria: hsl(0, 100%, 63%);    
    --cor-branca: #fff;
    --cor-fundo-escuro: #040203;    
    --cor-fundo-cinza-azulado: hsl(222, 14%, 14%);
    --cor-fundo-cinza-azul: linear-gradient(180deg, hsl(222, 14%, 14%), hsl(18, 58%, 16%));
  
  }
    
  :root {
    --fonte-primaria: 'Open Sans', sans serif;
    --fonte-secundaria: 'Orbitron', sans serif;
    --fonte-gigante: 4.5rem;
    --fonte-extra-grande: 3rem;
    --fonte-grande: 2.4rem;
    --fonte-normal: 1.6rem;
  }
  
  :root {
    --mobile-padding: 30px;
  }